$footer-color: hsl(0, 0%, 0%);
$paragraph-color: hsl(0, 0%, 55%);
$text-color: hsl(0, 0%, 100%);
$attribution-color: hsl(228, 45%, 44%);
$button-color: hsl(0, 0%, 100%);
$button-hover-color: hsl(0, 0%, 0%);
$button-hover-text-color: hsl(0, 0%, 100%);
$button-border-color: hsl(0, 0%, 41%);
$info-background-color:hsl(0, 0%, 100%); 
$hero-text-border-color: hsl(0, 0%, 100%);

$primary-font: Josefin sans;
$secondary-font: Alata;