@use "colors";

$images: (
    "one": "deep-earth",
    "two": "night-arcade",
    "three": "soccer-team",
    "four": "grid",
    "five": "from-above",
    "six": "pocket-borealis",
    "seven": "curiosity",
    "eight": "fisheye"
);

.image-property {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.creations {
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 2rem;
    width: 100%;

    .create-link {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: center;

        
        .create-header {
            font-family: colors.$primary-font;
            text-transform: uppercase;
            font-size: clamp(28px, 6vw, 45px); 
            font-weight: 300;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }

    .create-photos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1rem;
        height: 200vh;
        padding-top: 0;
        grid-column: 1;
        grid-row: 2; 
        padding-bottom: 2rem;
        
        @each $class, $name in $images {
            .#{$class} {
                background-image: url("../images/mobile/image-#{$name}.jpg");
            }
        }

        .creations-text {
            color: colors.$text-color;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            text-transform: uppercase;
            font-family: colors.$primary-font;
            font-weight: 300;
            padding-left: 1rem;
            padding-bottom: 1rem;
            
        }
    }

    .create-btn {
        grid-column: 1;
        grid-row: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .see-all {
            width: 8rem;
            border: 2px solid colors.$button-border-color;
            background-color: colors.$button-color;
            text-transform: uppercase;
            font-family: colors.$primary-font;
            font-weight: 400;
            cursor: pointer;
            height: 2.3rem;
        
            &:hover {
                background-color: colors.$button-hover-color;
                color: colors.$button-hover-text-color;
            }
        }
    }
    
}

@media (min-width: 450px) {

    .creations {

        .create-link {
            grid-column-start: 1;
            grid-column-end: 3;

        }        
        .create-btn {
            grid-column-start: 1;
            grid-column-end: 3;

        }
        
        .create-photos {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row: 2;

            .creations-text {
                font-size: 1.4rem;
            }

            grid-template-columns: repeat(2, 1fr);
            
            @each $class, $name in $images {
                .#{$class} {
                    background-image: url("../images/desktop/image-#{$name}.jpg");
                }
            }
        }
    }
}

@media (min-width: 600px) {

    .image-property {
        background-position: center;
    }

    .creations {
        padding-top: 5rem; 
        width: 100%;
        padding-bottom: 5rem;

        .create-link {
            grid-column: 1;
            grid-row: 1; 
            padding-top: 0.2rem;
             
            
            .create-header {
                justify-content: flex-start;
            }
        }
        
        .create-btn {
            grid-column: 2;
            grid-row: 1;
            justify-content: flex-end;
        }

        .create-photos {
            height: 150vh;
            padding-top: 3rem;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row: 2;

            grid-template-columns: repeat(4, 1fr);
        }
    }    
}

@media (min-width: 970px) {
    .creations {
        padding-left: 8rem;
        padding-right: 8rem;

        .create-photos .creations-text {
            font-size: 2rem;
        }
    }
}
