@use "colors";

.hero-section {
    background-image: url("../images/mobile/image-hero.jpg");
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100vh;
    color: colors.$text-color;
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0;
    position:relative;
        
    nav {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        transition: all .3s;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;  

        .logo {
            grid-column: 1;
            grid-row: 1;
            z-index: 2;

            .business-logo {
                height: 1.6rem;
            }
        }

        .hamburger {
            grid-column: 2;
            grid-row: 1;
            display: flex;
            justify-content: flex-end;
            
            .ham-nav {
                height: 1.2rem;
                width: 1.6rem;
                cursor: pointer;
            
                &:hover {
                  height: 1.1rem;
                  width: 1.6rem;
                }
              }
        } 

        .top-nav {
            display: none;
        }
        
        .menu {
            grid-column: 2;
            grid-row: 1;
            display: flex;
            justify-content: flex-end;
            z-index: -1;
        }

        .overlay {
            height: 0;
            width: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0, 0.9);
            overflow-y: hidden;
            transition: 0.5s;

            .overlay-content {
                position: relative;
                top: 25%;
                width: 100%;
                text-align:start;
                margin-top: 0;
            }

            a {
                padding-left: 1rem;
                padding-bottom: 1.5rem;
                text-decoration: none;
                font-size: 1rem;
                color: colors.$text-color;
                display: block;
                transition: 0.3s;
                text-transform: uppercase;
                font-weight: 100;

                &:hover {
                    color: hsl(0, 0%, 55%);
                }

                &:focus {
                    color: hsl(0, 0%, 55%);
                }

                span:hover {
                    padding-bottom: 3px;
                    border-bottom: 3px solid colors.$text-color;
                    transform: scale(1.1);
                  }
            }
          }       
    }

    .hero-text {
        border: 2px solid white;
        grid-row: 3;

        h1 {
            font-family: colors.$primary-font;
            text-transform: uppercase; 
            font-weight: 300;
            padding: 1.5rem 1rem;
            height: 100%;
            font-size: clamp(36px, 8vw, 58px);
        }
    }
    
}


@media (min-width: 600px) {

    .hero-section {
        background-image: url("../images/desktop/image-hero.jpg");
    }
}

@media (min-width: 970px) {

    .hero-section {
        padding-left: 8rem;
        padding-right: 8rem;

        nav {
            .hamburger {
                display: none;
            }

            .top-nav {
                grid-column: 2;
                grid-row: 1;
                display: flex;
                justify-content: flex-end;

                .btm-nav {
                    flex-direction: row;
                    justify-content: flex-start;

                    a {
                        padding-left: 1rem;
                        text-decoration: none;
                        color: colors.$text-color;
        
                        &:hover {
                            color: hsl(0, 0%, 55%);
                        }
        
                        &:focus {
                            color: hsl(0, 0%, 55%);
                        }
        
                        span:hover {
                            padding-bottom: 3px;
                            border-bottom: 3px solid colors.$text-color;
                            transform: scale(1.1);
                          }
                    }
                }
            }
        }
    }


}